body{
    background-color: rgb(228, 118, 169);
}
.all{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    place-items: center;
    margin-top: 150px;
  
}
.container{
    background-color: white;
    display: grid;
    width: 450px; /* or any desired width */
    margin: 250px auto;
    border-radius: 5px;
}
p{
    text-align: center;
    color: white;
    font-size: 20px;
}
h2{
    font-size: 40px;
    text-align: center;
    color: white;
}
.b1 ,.b2,.b3{
    width: 150px;
    padding: 20px;
    border: none;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    box-shadow: 2px 2px 4px 0px gray;
}
.b1{
    background: linear-gradient(to right, purple, blue);
    color: aliceblue;
    border-radius: 10px;
}
.b1:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: all .6s ease-in-out;
    background: linear-gradient(to right, blue, purple);
    color: beige;
}
.b2{
    background-color: rgb(211, 81, 103);
    color: white;
    transition: transform 0.3s ease;
    border-radius: 30px;
}
.b2:hover{
    cursor: pointer;
    color: rgb(211, 81, 103);
    background-color: white;
    transform: rotate(360deg);
   
}
.b3{
    background-color: rgb(31, 236, 236);
    color: rgb(91, 91, 226);
    transition: background-color 0.6s ease;
    margin-bottom: 10px;
    border-radius: 15px;
}
.b3:hover{
    cursor: pointer;
    background-color: aliceblue;
    transform: scale(1.1);
}
 h2, .container , p{
    margin: 20px;
 }